.task-ui {
    overflow-y: auto;
    width: 100%;
    padding: 0px 20px;
}
.tasks-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plans-button {
    align-self: flex-start;
    margin-left: 40px;
}