.admin-ui {
    flex-grow: 1;
    width: stretch;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow: hidden;
}

.add-group {
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.add-user-form {
    margin-right: 10px;
}

.users-table {
    width: stretch;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.users-table td + td, 
.users-table th + th {
    border-left:2px solid black;
}

.users-table td,
.users-table th {
    width: calc(100%/6);
    padding: 10px 0px;
}

.users-container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.users-table-buttons {
    display: flex;
    justify-content: space-around;
} 

.group-button {
    pointer-events: none;
    margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}